@import url('https://fonts.googleapis.com/css2?family=Khand&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
     font-family: "Open sans", sans-serif;
     background: #fff;
     min-height: 100vh;
     display: grid;
     place-items: center;
}
#marksheet{
    width: 90vh;
    margin: 0 auto;
    max-width: 80rem;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.header{ 
      overflow: hidden;
}
.img_container img{
   border-top: 30px solid rgb(8, 98, 154);
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}
.title{
      margin: 1rem 0;
      text-align: center;
}
.title h1{
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
}
.title h1, .title h3{
      text-transform: uppercase;
      letter-spacing: 2px;
}
.container{
      padding: 0.25rem 0.5rem;
}
.students_data{
       margin-bottom: 1rem;
}
.students_data_content{
       display: flex;
      flex-wrap: wrap;
      flex-direction: column; 
}
.col{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      margin-bottom: 0.75rem;
}
.col > div{
       display: flex;
       gap: 10px;
       align-items: center;
       position: relative;
} 
.col > div label{
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      flex: 40%;
}
.col > div input{
      padding: 0.5rem 0.5rem;
      border: none;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      outline: none;
      flex: 50%;
      text-transform: uppercase;
      font-size: 0.875rem;
}

.subjects_data{
      margin-bottom: 1rem;
}
.subjects_data > *{
      border: 1px solid #000;
}
.sub_header{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       place-items: center;
       border-bottom: none;
}
.sub_header > *{
       text-transform: uppercase;
       font-weight: 600;
       letter-spacing: 2px;
       border-right: 1px solid #000;
       width: 100%;
       text-align: center;
}
.sub_header > *:last-child{
      border-right: none;
}
.subject_data_container{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
}
.subject_data_container > *{
       width: 100%;
       text-align: center;
}
.subject_data_container > *:first-child{
      text-align: left;
}
.subjects_name{
      border-right: 1px solid #000;
}
.subjects_name > input{
      width: 100%;
      outline: none;
      padding: 0.05rem 0.5rem;
      line-height: inherit;
      vertical-align: middle;
      border: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1rem;
      text-align: left;
      border-bottom: 1px solid #000;
}
.subjects_name> input:last-child{
      border: none;
}
.max_marks{
      border-right: 1px solid #000;
}
.max_marks > input{
      width: 100%;
      outline: none;
      padding: 0.05rem 0.5rem;
      line-height: inherit;
      vertical-align: middle;
      border: none;
      font-size: 1rem;
      text-align: center;
      border-bottom: 1px solid #000;
}
.max_marks > input:last-child{
      border: none;
}
.passing_marks{
      border-right: 1px solid #000;
}
.passing_marks > input{
      width: 100%;
      outline: none;
      padding: 0.05rem 0.5rem;
      line-height: inherit;
      vertical-align: middle;
      border: none;
      font-size: 1rem;
      text-align: center;
      border-bottom: 1px solid #000;
}
.passing_marks > input:last-child{
      border: none;
}
.obtained_marks{
      border-right: none;
}
.obtained_marks > input{
      width: 100%;
      outline: none;
      padding: 0.05rem 0.5rem;
      line-height: inherit;
      vertical-align: middle;
      border: none;
      font-size: 1rem;
      text-align: center;
      border-bottom: 1px solid #000;
}
.obtained_marks > input:last-child{
      border: none;
}

input::placeholder{
      letter-spacing: 2px;
      text-transform: capitalize;
      font-size: 0.87rem;
}

.footer{
     display: flex;
     flex-direction: column;
}
.btn_container{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-bottom: 1rem;
}
.btn_container > button{
       border: none;
       padding: 0.25rem 0.5rem;
       text-transform: uppercase;
       letter-spacing: 2px;
       border-radius: 0.25rem;
       cursor: pointer;
       background: #000;
       color: goldenrod;
       border: 2px solid goldenrod;
       transition: all 0.3s linear;
       box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}
.btn_container > button:hover{
      background: goldenrod;
      color: #fff;
}     
.contact img{
   vertical-align: middle;
}
